/* .container{
    height: 450px;
    width: 1400px;
    background-color: rgb(237, 207, 230);
    text-align: center;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto;
    grid-gap:20px; 
  
}
.item{
    background-color: blue;
}
.item1{
    background-color: blueviolet;
          
}
.item2{
    background-color:brown;
}
.item3{
    background-color:cornflowerblue;
    
}
.item4{
    background-color:darkorange;
}
.item5{
    background-color:khaki;
  
} .item6{
    background-color:forestgreen;
    
} */

/* #id1{
    background-color: #3AB0FF;
} */
